.form-card, .list-card{
  background:#fff;
  padding:20px;
  border-radius:16px;
  margin-bottom:20px;
}

input{
  width:100%;
  padding:14px;
  margin-bottom:14px;
  border-radius:12px;
  border:1px solid #ddd;
  font-size:16px;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#b53030;
  color:#fff;
  font-size:16px;
}

.employee{
  padding:14px;
  border-bottom:1px solid #eee;
}
